.header{
    color: rgb(31, 31, 68);
    font-family:Verdana, Geneva, sans-serif;
    padding-left: 50px;
}
.divider{
    position:absolute;
    left:40%;
    top:20%;
    bottom:10%;
    border-left:1px solid rgb(31, 31, 68);
}
hr{
    height: 1px;
    background-color: rgb(31, 31, 68);
}